@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font Propo", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 11px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: alpha(@surface, 0.75);
    color: @on_surface;
    font-family:
        "JetBrainsMono Nerd Font Propo",
        feather;
    transition: background-color .5s;
}

.modules-left,
.modules-right {
    background: alpha(@surface_container_lowest, .70);
    margin: 4px 8px;
    padding: 0 4px;
    border-radius: 12px;
}
.modules-left { padding: 0; }
.modules-center { padding: 0 8px; }

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#bluetooth,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
    padding: 0 5px;
    border-radius: 12px;
    color: @on_surface;
}


#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#bluetooth:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
    background: alpha(@surface, 0.90);
}

#workspaces button {
  background: transparent;
  font-family: "JetBrainsMono Nerd Font", feather;
  font-weight: 900;
  font-size: 13pt;
  color: @on_surface;
  border: none;
  border-radius: 12px;
}

#workspaces button.active {
  background: @primary_container;
  color: @on_primary_container;
}

#workspaces button:hover {
  background: @surface_container_high;
  color: @on_surface;
  box-shadow: none;
}

#custom-arch {
  margin-left: 4px;
  padding: 0 8px;
  font-size: 21px;
  transition: color .5s;
}
#custom-arch:hover { color: @primary; }

#network,
#network:hover {
  padding: 0px 8px 0px 5px;
}
